
/*1 utilitis*/
@import"./utilities/maps";
@import"./utilities/variables";
@import"./utilities/mixin.scss";

/*2 base*/
@import"./base/reset";
@import"./base/tipografias";



/*3 layout*/
@import"./layout/header";
@import"./layout/main-index";
@import"./layout/main-start-dancing";
@import"./layout/main-contact";
@import"./layout/workshop-y-eventos";

@import"./layout/main";
@import"./layout/footer";
/*4 components*/

@import"./components/navbar";



/*5 mediaq*/

@import"./mediaQ/maeidaQ1000.scss";


