.fotodebeso {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    
    img {
        max-width: 100%;
        height: auto;

} }



.hola{
    position: relative;
    width: auto;
    height: 100%;
    height: 100vh; 
    overflow: hidden;

.div{  width: 100%
    ; height: 100%;}}


.background-image {
    max-width: 80%;

}.hola{
    position: relative;
    width: 100%;
    height: 100%;
    height: 100vh; 
    overflow: hidden;
}



.background-image {
    max-width: 100%;
    height:100% ;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;    z-index: 1;
    transform: translate(-50%, -50%);
}

.overlay-content {
    position: absolute;
    top: 20%;
    left: -10%;

    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.overlay-content > * {
    margin-bottom: 10px;
    width: 80%; 
    max-width: 320px;
}

