main {background-color: black;
    padding: 20px;h1 {
        text-align: center;
        margin: 0px 0;
        font-family: "Rubik Vinyl", serif;
        font-weight: 800;
        color: rgb(248, 244, 244);
    }
}


