.main_home {
    position: relative; 
    width: 100%;
    height: 100vh; 
    box-sizing: border-box;
    overflow-y: hidden; // Remove vertical scroll
    .background-container {
        position: relative; 
        width: 100%;
        height: 100%; 
  
        .background-image {
            position: absolute; 
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .left, .right {
            position: absolute;
            padding: 20px;
            transition: opacity 0.20s ease;
            color: #fff; // Añadir color blanco a los textos
            background-color: rgba(255, 255, 255, 0); /* Opcional, para darle un fondo traslúcido */
            box-sizing: border-box;
            overflow-y: auto; /* Habilitar el scroll vertical */
            max-height: 80vh; /* Limitar la altura máxima para permitir el scroll */
            margin: 10px;
            font-size: 25px; /* Corregir el tamaño de fuente */
            p {
                text-align: center; /* Center the text of the paragraphs */
                font-size: 30px; /* Increase font size by 5px */
            }
        }

        .left {
            top: 10px; // Posicionar en el margen superior
            left: 10px; // Posicionar en el margen izquierdo
            max-width: 100%; /* O el tamaño que necesites */
            height: 300px;
            direction: ltr; /* Ensure scroll is at the beginning of the text */
            text-align: left; /* Ensure text is aligned to the left */
            overflow-x: hidden; /* Hide horizontal scroll */
            overflow-y: scroll; /* Ensure vertical scroll is visible */
            scrollbar-gutter: stable both-edges; /* Ensure scroll bar is on the left */
            scroll-behavior: smooth; /* Smooth scrolling */
        }

        .right {
            top: 400px; // Mover más abajo
            right: 10px; // Posicionar en el margen derecho
            max-width: 100%; /* Disminuir el largo del texto derecho a un 50% */
            height: 300px;
        }
    }
}

.left:hover ~ .right {
    opacity: 0;
}

.right:hover ~ .left {
    opacity: 0;
}

.right {
    display: block;
}

.left {
    display: block;
    margin-bottom: 10px;
}

.left:not(:hover), .right:not(:hover) {
    font-size: 25px; /* Ensure font size remains the same */
}
