.fotodebeso {
    
    display: flex;
    justify-content: center;
    align-items: center;
    
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    
    img {
        max-width: 100%;
        height: auto;

} }




.hola {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    .background-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      
      .background-image {
        max-width: 100%;
        height: auto;
      }
  
      .overlay-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        width: 100%;
      }
  
      video {
        max-width: 100%;
        height: auto;
        margin: 10px 0;
      }
    }
  }