




/////////

table {
    width: 100%;
    margin: 10px auto;
    border-collapse: collapse;
    background: url('https://www.transparenttextures.com/patterns/black-paper.png');
 font-size: auto;}
th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    color: black;
}
th {
    background-color: #f4c27a;
    font-weight: bold;
}
td {
    background-color: #ffe7c0;
}
.bold {
    font-weight: bold;
}
