@media (max-width: 850px) {

    header {
        .header-logo{
    
            img{width: 200px;
              padding-left: 1px; 
              top: 1px;
              left:1px ;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-around;
              position: absolute;}
    
            }
    
    
            .header-login {
                position: static;
                margin-top: 90px; 
                width:189px;
                height:140px ; 
                background-color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                position: absolute;
                top: 0;
                right: 0px;
                border-radius: 25px 25px 25px 25px;
                padding: none;
            }
    
            .header-nav {
                flex-direction: column;
                align-items: start;
                width: 100%;
                gap: 0px;
                height: 300px;
                a{font-size: 20px;
                }
    
    }}
    
    .hola{
        position: relative;
        width: 100%;
        height: 100%;
        height: 100vh; 
        overflow: hidden;
    }
    
    
    
    .background-image {
        max-width: 100%;
        height:100% ;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;    z-index: 1;
        transform: translate(-60%, -60%);
    }
    
    .overlay-content {
        position: absolute;
        top: 40%;
        left: 0%;
    
        width: 50%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 2;
    }
    
    .overlay-content > * {
        margin-bottom: 10px;
        width: 80%; 
        max-width: auto;
    }
    
    
    
    footer {
        padding: 10px;
            a {
                font-size: 14px;
            }
    
            p {
                display: none;
            }
        }
    
    table {
        width: 100%;
        margin: 10px auto;
        border-collapse: collapse;
        background: url('https://www.transparenttextures.com/patterns/black-paper.png');
     font-size: 10px;}
    th, td {
        border: 2px solid black;
        padding: 10px;
        text-align: center;
        color: black;
    }
    th {
        background-color: #f4c27a;
        font-weight: bold;
    }
    td {
        background-color: #ffe7c0;
    }
    .bold {
        font-weight: bold;
    }
    
    
    .contact-form {
        flex-direction: column;
    
        .image-container {
            margin-bottom: 10px;
        }
    
        .form-container {
            padding: 5px;
    
            form {
                h1, p {
                    font-size: 14px;
                }
    
                label, input, textarea {
                    font-size: 14px;
                }
    
                button {
                    padding: 8px;
                }
            }
        }
    }
    
    
    
    
        
    .top-section {
        flex-direction: column;
        align-items: center;
    
        .image{  width: 100%;
            height: auto; img{width: 100%;
                height: auto;}}
        
        .info {
            flex: 1 1 80%;
            margin-bottom: 20px;
        }
    }
    .courses {
        flex-direction: column;
        align-items: center;
    
        .course-box {
            flex: 1 1 100%;
            margin: 10px 0;
        }
    }
    }
