*{
    margin: 0;
    padding: 0;
    box-sizing: none;}


    body{
        background-color: rgb(255, 248, 248);
        /*height: 100vh;*/
        
        font-family: Arial, sans-serif;
        margin: 0;
        
        text-align: center;
        }
        
        html { font-size: 1rem;
        
        } 


   


    